* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    border: 1px solid grey;
    text-align: center;
    padding: 5px;
}